body {
    background-color: #f4f7fc00;
    font-family: Arial, sans-serif;
}

/* Container for the login card */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f7fc00;
}

.login-card {
    background-color: #ffffff09;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    color: #e7e7e7;
    margin-bottom: 20px;
    font-size: 24px;
}

p {
    color: #999999;
    font-size: 14px;
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #dddddd00;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

.input-field:focus {
    border-color: #4CAF50;
    outline: none;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.login-btn:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 10px;
}

/* Responsive Design for Mobile */
@media (max-width: 600px) {
    .login-card {
        width: 90%;
        padding: 20px;
    }

    h2 {
        font-size: 20px;
    }

    .login-btn {
        font-size: 14px;
    }
}