<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <title>Order Details</title>
</head>
<body>
    <div class="container">
        <h1>Order Details</h1>

        <!-- Display order ID and customer name -->
        <div class="row">
            <div class="col-md-6">
                <h3>Order ID:</h3>
                <p th:text="${order.orderId}"></p>
            </div>
            <div class="col-md-6">
                <h3>Customer Name:</h3>
                <p th:text="${order.customerName}"></p>
            </div>
        </div>

        <!-- Display list of recipes associated with the order -->
        <h3>Recipes:</h3>
        <table class="table table-bordered">
			<thead>
			    <tr>
			        <th>Recipe</th>
			        <th>Quantity</th>
			        <th>Actions</th>
			    </tr>
			</thead>
            <tbody> 
				<tr th:each="orderRecipe : ${order.orderRecipe}">
	
	                <!-- Find and display the name of the recipe associated with this orderRecipe -->
					<td>
	                	<span th:text="${orderRecipe.recipe.recipeName}">Recipe Name</span>
					</td>
					<td>
	                	<span th:text="${orderRecipe.quantity}">Quantity</span>
					</td>
					<td>
						<a th:href="@{/recipe/view/{recipeId}(recipeId=${orderRecipe.recipe.recipeId})}" class="btn btn-success">View recipe</a>
					</td>
				</tr>
            </tbody>
        </table>

        <!-- Link to add a new order -->
        <a th:href="@{/order/add}" class="btn btn-primary">Add New Order</a>

        <!-- Link to go back to the main page -->
        <a th:href="@{/}" class="btn btn-success">Confirm</a>

        <!-- Edit button -->
        <a th:href="@{/order/edit/{orderId}(orderId=${order.orderId})}" class="btn btn-warning">Edit Order</a>
    </div>
</body>
</html>
